# dependencies
node_modules/

# build output
dist/
release/
out/
*.tgz

# code coverage
coverage/
*.lcov

# logs
logs/
*.log
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Bun lockfile (optional - you may want to keep this)
# bun.lockb
